{% extends 'partials/base.html.twig' %}
{% set collection = page.collection() %}
{% set collection = page.collection({ items: '@self.children', 'order': {'by': 'date', 'dir': 'desc'} }) %}

{% block content %}
    <div id="content">
        <h1>{% if page.parent.url == home_url %}<a href="/">home</a>{% else %}<a href="{{page.parent.url}}">{{page.parent.slug}}</a>{% endif %}/{{header.title}}</h1>
        {{ content }}
            {% for child in collection %}
                        {% include child.template ~ '.html.twig' with {page: child, embed: true} %}
            {% endfor %}
        
    </div>
{% endblock %}
