<section class="blogPost">
    <div class="date"><a href="{{child.page.url}}" class="dt-published u-url u-uid">{{ child.header.date|date("Y-m-d") }}</a></div>
    <div class="content ">
    {{ page.content }}
    </div>
        </section>
