<section class="blogPost h-entry">
    <div class="title"><h2>{{ child.header.title }}</h2></div>
    <div class="date"><a href="{{child.url}}" class="dt-published u-url u-uid">{{ child.header.date|date("Y-m-d") }}</a></div>
    <div class="content ">
    {{ page.content }}
    </div>
        </section>
