body {
    font-family: ;
    color: #404040;
    /*background-color: #fefefe;*/
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5 {
    font-weight: normal;
}

body.home nav h1,h2,h3,h4,h5 {
    margin: 0;
}

#wrapper {
}

#header {
    text-align: center;
    font-size: 3rem;
    font-family: courier;
    flex: 1 1 0;
}

#header div {
}

#header .logo {
}

#header .tagline {
    font-size: 1.5rem;
}

body.home nav {
    font-size: 1.5rem;
}

#content {
    font-size: 1.3rem;
    line-height: 1.3;
    flex: 1 1 0;
}

.home #content dl {
    font-size: 2rem;
    margin-top: 0;
}

#content img {
    width: 100%;
}

.blogPost {
    padding-bottom: 2rem;
}

.date {
    font-size: 0.8rem;
}

.blogPost .date {
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-style: italic;
}

.blogPost .date a {
    text-decoration: none;
}

.blogPost .content {
    border-left: 1px solid #404040;
    padding-left: 1rem;
}

.blogPost .title {
    margin-bottom: .5rem;
}

.blogPost .blurb {
    font-size: 1.5rem;
}

.blogPost .content p {
    margin: 0;
}

.blogPost .content p + p,.blogPost .content h2 + p  {
    margin: 1em 0 1em 0;
}

#back {
    font-size: 2.5rem;
}

a,a:visited {
	text-decoration:    underline;
    color:              #0000EE;
}

a:hover {
	text-decoration:    none;
	color:				#FF4826;
}

.comingsoon {
    text-decoration: line-through;
}

@media only screen and (min-width: 625px) {

    #wrapper {
        position: absolute;
    }

    #header {
        position: sticky;
        top: 0;
        width: 48vw;
        float:left;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #header-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    #header .tagline {
        padding-left: 10px;
        padding-top: 0.3rem;
    }

    #content {
        min-height: 100vh;
        width: 48vw;
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #content  > div {
        border-left: 3px solid #404040;
        padding-left: 1rem;
        margin: 1rem 0 1rem 0;
    }

    .sticky {
        position: sticky;
        top:0;
    }

    #header .sticky {
        height: 100%;
        margin: 0 auto;
    }

    body.home nav h2 {
        margin: 0;
    }

    body.home dl {
    }

    body.home dt {
        display: block;
        float:left;
        clear: left;
    }

    body.home dd {
        margin-left: 0;
        display: block;
        visibility: hidden;
        float: left;
    }
    .blogPost {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
    }

    .blogPost .title {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .blogPost .date {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .blogPost .content {
        grid-column-start: 2;
        grid-row-start: 2;
    }
}
