body {
    font-family: ;
    color: #404040;
    /*background-color: #fefefe;*/
}

h1,h2,h3,h4,h5 {
    font-weight: normal;
}

body.home nav h1,h2,h3,h4,h5 {
    margin: 0;
}

#header {
    text-align: center;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header div {
}

#header .logo {
    text-align: right;
    flex: 1 1 0;
}

#header .tagline {
    flex: 1 1 0;
    text-align: left;
    font-size: 1.5rem;
}

body.home nav {
    font-size: 2.5rem;
}

#content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: 1.8rem;
}



#content img {
    width: 100%;
}

.blogPost {
    padding-bottom: 2rem;
}

.blogPost .date {
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-style: italic;
}

.blogPost .date a {
    text-decoration: none;
}

.blogPost .content {
    border-left: 1px solid #404040;
    padding-left: 1rem;
}

.blogPost .title {
    margin-bottom: .5rem;
}

.blogPost .blurb {
    font-size: 1.5rem;
}

.blogPost .content p {
    margin: 0;
}

.blogPost .content p + p,.blogPost .content h2 + p  {
    margin: 1em 0 1em 0;
}

#back {
    font-size: 2.5rem;
}

a,a:visited {
	text-decoration:    underline;
    color:              #0000EE;
}

a:hover {
	text-decoration:    none;
	color:				#FF4826;
}

.comingsoon {
    text-decoration: line-through;
}

@media only screen and (min-width: 625px) {

    #header {
        flex-direction: row;
    }

    #header .tagline {
        padding-left: 10px;
        padding-top: 0.3rem;
    }

    body.home nav h2 {
        text-align: right;
        margin: 0;
    }

    body.home dl,body.home #header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width:		100%;
    }

    body.home dt {
        grid-column: 1;
        text-align: right;
    }

    body.home dd {
        grid-column: 2;
        margin-left: 0;
        visibility: hidden;
    }
    .blogPost {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
    }

    .blogPost .title {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .blogPost .date {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .blogPost .content {
        grid-column-start: 2;
        grid-row-start: 2;
    }
}
