body {
    font-family: ;
    color: #5C5C5C;
    /*background-color: #fefefe;*/
}

h1,h2,h3,h4,h5 {
    font-weight: normal;
}

body.home nav h1,h2,h3,h4,h5 {
    margin: 0;
}

#header {
    text-align: center;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header div {
}

#header .logo {
    text-align: right;
    flex: 1 1 0;
}

#header .tagline {
    flex: 1 1 0;
    text-align: left;
    font-size: 1.5rem;
}

body.home nav {
    font-size: 2rem;
}

#content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.5rem;
}

#content img {
    width: 100%;
}

#back {
    font-size: 2.5rem;
}

a,a:visited {
	text-decoration:    underline;
    color:              #0000EE;
}

a:hover {
	text-decoration:    none;
	color:				#FF4826;
}

.comingsoon {
    text-decoration: line-through;
}

@media only screen and (min-width: 625px) {

    #header {
        flex-direction: row;
    }

    #header .tagline {
        padding-left: 10px;
        padding-top: 0.3rem;
    }

    body.home nav h2 {
        text-align: right;
        margin: 0;
    }

    body.home dl,body.home #header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width:		100%;
    }

    body.home dt {
        grid-column: 1;
        text-align: right;
    }

    body.home dd {
        grid-column: 2;
        margin-left: 0;
        visibility: hidden;

    }
}
