{% extends 'partials/base.html.twig' %}

{% block content %}
    <nav>
<dl>
    <h2>here</h2>
        {% for page in pages.children.visible %}
            {% if page.menu != 'justus.ws' %}
            <dt>
                <a href="{{ page.url }}">
                    {{ page.menu }}
                </a>
            </dt>
            <dd>{{ page.header.tagline }}</dd>
            {% endif %}
        {% endfor %}
</dl>
<dl>
<h2>elsewhere</h2>
<dt><a href="mailto:jg@justus.ws">e-mail</a></dt>
<dd>: jg@justus.ws</h2>
<dt><a href="https://photos.justus.ws">photos</a></dt>
<dd>&nbsp;&gt;&nbsp;smugmug</dt>
<dt><a href="https://github.com/justusthane">github</a></dt>
<dd>&nbsp;&gt;&nbsp;code</dd>
<dt><a href="https://keybase.io/justusthane">keybase</a></dt>
<dd>&nbsp;&gt;&nbsp;encrypt</dd>
</dl>


    </nav>
    {{ page.content }}
{% endblock %}
