{% extends 'partials/base.html.twig' %}
{% set parent = page.collection({ items: '@self.parent'}) %}

{% block content %}
    <div id="content">
        <h1>{{page.header.title}}</h1>
        {{ page.content }}
        <div id="back">
            {% for page in parent %}
                {# Link to the parent page unless the parent page is home...TODO find a cleaner way to do this #}
                {% if page.url != home_url %}<a href="{{page.url}}">&lt; more {{page.menu}}</a>{% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
